/* RESET CSS */
* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

/* FIM RESET CSS */

body {
    background-color: #FFF8E9;
}

header{
    background-color: #44C2B9;
    height: 80px;
    width: 100vw;
}

.conteudo{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
}

.menu{
    font-family: 'Alegreya Sans SC', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    cursor: pointer;
}

.menu a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.25em;
    transition: 0.5s;
}

.menu a:hover{
    color: #114945;
    transition: 0.3s;
    text-shadow: 4px 4px 6px #0000007a;
}

.menu-barras{
    display: none;
}

.container {
    margin-top: 5%;
    margin-left: 25%;
    width: 50%;
    height: 150%;
    background-color: #44C2B9;
    border-radius: 30px;  
    border: solid black 2px;
    box-shadow: 10px 15px 0 0 rgba(0, 0, 0, 0.122);
}

h2 {
    margin-top: 5%;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 45px;
    text-align: center;
    font-weight: bold;
}

input{
   
    border-bottom: solid #114945 2px;
}


.entradas{
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

label{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #114945;
}
    
button{
    background-color: #FFF8E9;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 22px;
    font-style: bold;
    width: 17%;
    height: 25px;
    margin-top: 15%;
    margin-left: 41%;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    border: 5px black;
    box-shadow: 7px 5px 0 0 rgba(0, 0, 0, 0.122);
}

input[type="number"]{
    font-size: 15px;
}

input#min{
    margin-top: -10px;
    background-color: #44C2B9;
    height: 25px;
    font-family: 'Alegreya Sans SC', sans-serif;
}

input#max{
    margin-top: -10px;
    background-color: #44C2B9;
    height: 25px;
    font-family: 'Alegreya Sans SC', sans-serif;
    
}

#resultado{
    
    font-size: 25px;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #114945;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 7%;
     
}

button:hover{
    transition: 1s; 
    background-color: #114945;
    color: white;
}
    
